
.users-list {
	margin: 0 auto;
	display: flex;
	flex-flow: row wrap;
  justify-content: space-around;

	.user-profile {
    margin: 3rem; 

		.profile-image-thumb {
			margin-left: 1rem;
		}
	}
}

.user-details {
	margin: 3rem auto;

	img {
		margin: 0 auto;	
	}
}

.user-photos-list {
	margin: 0 auto;
	display: flex;
	flex-flow: row wrap;
  justify-content: space-around;
}