
.photos {
	h2 {
		margin: 6rem 0 3rem;
	}
} 

.photo-list {
	padding: 0;
  margin: 0;
	display: flex;
	flex-flow: row wrap;
  justify-content: space-around;
}

.photo {
	margin: 1rem;
	padding: 0 .7rem;

	.profile-image-thumb {
		margin-left: 1rem;
	}
}

.icon-loading {
	display: flex;
	height: 500px;
	justify-content: center;
	align-items: center;
	color: gray;
}