.main-container {
  margin-top: 2rem;
  margin-bottom: 6rem; }

.main-container nav {
  margin: 1rem 0 4rem; }

.main-container nav .navbar-default {
  background-image: none;
  background: #ffffff; }
